.App {
  text-align: center;
}


.label > .time {
  font-weight: 700;
}

.label > .distance {
  font-weight: 700;
}

.marker {
  height: 64px;
  width: 64px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}